/*thank you Erica for asking the question in OH*/
html {
  scroll-behavior: smooth;
}

/*set color and font variables*/
:root {
  --light-turq: #33c5ff;
  --dark-grey: #363642;
  --dark-blue: #094d9b;
  --large-pad: 50px;
  --small-pad: 10px;
  --mini-pad: 5px;
  --micro-pad: 2px;
}

body {
  font-family: "Fira Sans", sans-serif;
  
}

main {
  
  background-image: url("../images/blue_herring.jpeg");
  background-position: bottom;
  /* background-color: var(--dark-blue); */
  background-size: stretch;
  /* background-repeat: no-repeat; */
}

/*header behavior*/
header {
  display: flex;
  flex-wrap: wrap;
  /* background-color: var(--dark-grey); */
  
}

footer {
  background-color: var(--dark-blue);
}

/*top headings*/
.h1
{
  background-color: none;
  color: white;
}
.h2 {
  /* background-color: var(--light-turq); */
  color: white;
  /* padding: var(--mini-pad); */
}
/*secondary subtitle*/
.subheader {
  display: flex;
  flex-wrap: wrap;
  /* padding: var(--small-pad); */
  /* background-image: url("../images/blue_herring.jpeg");
  background-position: bottom;
  background-color: transparent;
  background-size: 100%; */
}

.work-header {

  color: var(--dark-blue);
}


/*navigation look*/
.nav {
  padding-top: var(--small-pad);
  padding-bottom: var(--mini-pad);
}

.nav li {
  display: inline;
}

.nav a {
  padding-bottom: var(--micro-pad);
  color: white;
  text-decoration: none;
  border-bottom: white solid var(--micro-pad);
}

/*about me paragraphs*/
.bio p {
  padding: var(--small-pad);
}


.contact-header {
  color: var(--light-turq);
}

/*sample cards with sepia effect*/
.card {
  background-size: 100%;
  border: var(--micro-pad) solid var(--light-turq);
  filter: none;
  position: relative;
  /* border-radius: 50%; */

}

/*remove sepia effect on hover*/
.card:hover {
  
  filter: brightness(0.75);
}

/*style titles inside cards*/
.h4 {
  background-color: white;
  padding: var(--mini-pad);
  text-align: left;
  position: absolute;
  bottom: 40%;
  left: var(--large-pad);
  color: black;

}

/* individual backgrounds for cards */
.surf {
  background-image: url("../images/surf.jpeg");
}

.LED {
  background-image: url("../images/red_dot.jpeg");
}

.calc {
  background-image: url("../images/calc.jpeg");
}

.pastel {
  background-color: lightslategrey;
}

.run {
  background-image: url("../images/run.jpeg");
}

/*contact info links*/

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  /* margin-left: -20%; */
}

.info-item {
  margin: var(--small-pad);
 
}

.info-item a {
  color: white;
  text-decoration: none;
  border-bottom: var(--light-turq) solid var(--micro-pad);
  padding-bottom: var(--mini-pad);
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 175px) {
  /*on mobile phones, set one column */
  body {
    flex-direction: column;
  }

  .h1 {
    text-align: center;
    font-size: 200%;
    flex: 100%;
  }

  .h2 {
    text-align: center;
    font-size: 150%;
    padding: var(--small-pad);
    /* margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0; */
  }

  .h3 {
    padding: var(--mini-pad);
    margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
    border-bottom: var(--dark-blue) solid 2px;
    font-size: 133%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }
  .nav {
    text-align: center;
    line-height: 200%;
    flex: auto;
  }
  .subheader {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--large-pad);
    justify-content: center;
  }

  .info {
    display: block;
    padding-left: 20%;
  }

  .info-item {
    padding-block: 10px;
  }

  .samples {
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
      padding: var(--small-pad);
  }

  .card {
    height: 150px;
    margin:var(--mini-pad);
  }
}

@media screen and (min-width: 768px) {
  .h1 {
    text-align: center;
    font-size: 300%;
    /* flex: 100%; */
  }

  .h2 {
    /* padding: var(--mini-pad); */
    font-size: 200%;
    /* margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0; */
  }
  .h3 {
    font-size: 200%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }
  .nav {
    text-align: center;
    line-height: 200%;
  }
  .subheader {
    display: block;
    /* flex-wrap: wrap; */
    /* justify-content: left;  */
  }


  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20%;
    
  }

  .info-item {
    margin: var(--small-pad);
  }
/* ensures samples cards have space gap */
  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap:var(--mini-pad);
  }
/* next two make sure first card is twice the size of the others,
taking into account about 5px padding */

  .card:first-child {
    flex: 0 0 98%;
    height: 250px;
  }

  .card {
    flex: 0 0 48%;
    height: 125px;
  }
  
}
/* media query for larger screens */
@media screen and (min-width: 992px) {


 .info { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

 }
 .info-item {
   padding: 20px;
 }
  .samples {
    display: flex;
    flex-wrap: wrap;
    gap:var(--mini-pad);
    width: 65%;
    margin-right: 15%;
    margin-left: 20%;
}
  .card:first-child {
    flex: 0 0 98.4%;
    height: 300px;
  }

  .card {
    flex: 0 0 48%;
    height: 150px;
  }

  .h1 {
    display: flex;
    font-size: 250%;
    flex: wrap;
    /* justify-content: space-between; */
    margin-left: 22%;
    /* padding-left: 22%; */
  }

  .h2 {
    /* padding: var(--mini-pad); */
    font-size: 200%;
    margin-left: 22%;
    /* text-align: right;  */
    
  }

  .h3 {
    display: flex;
    /* border-right: 3px solid var(--dark-blue); */
    border-bottom: none;
    font-size: 200%;
    width: 20%;
    text-align: right;
    /* border-radius: 50%; */
    justify-content: right; 
    /* align-items: center; */
  }

  .nav li {
    font-size: 100%;
    padding: var(--mini-pad);
    margin: var(--mini-pad);
  }

  .nav {
    display: flex;
    /* text-align: right; */
    flex: wrap;
    /* padding-right: var(--large-pad);
    padding: var(--large-pad);
    margin: var(--mini-pad); */
  }

  .subheader {
    display:flex;
    flex-wrap: wrap;
  }
}
