/*thank you Erica for asking the question in OH*/
html {
  scroll-behavior: smooth;
}

/*set color and font variables*/
:root {
  --light-turq: #82c2c3;
  --dark-grey: #363642;
  --dark-blue: #094d9b;
  --large-pad: 50px;
  --small-pad: 10px;
  --mini-pad: 5px;
  --micro-pad: 2px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header behavior*/
header {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-grey);
  color: var(--light-turq);
}

/*top headings*/
.h1,
.h2 {
  background-color: var(--light-turq);
  color: var(--dark-grey);
  padding: var(--mini-pad);
}

/*secondary subtitle*/
.subheader {
  display: flex;
  flex-wrap: wrap;
  padding: var(--small-pad);
  background-image: url("../images/blue_herring.jpeg");
  background-origin: border-box;
  background-color: transparent;
  background-size: 100%;
}

/*navigation look*/
.nav {
  padding-top: var(--small-pad);
  padding-bottom: var(--mini-pad);
}

.nav li {
  display: inline;
}

.nav a {
  padding-bottom: var(--micro-pad);
  color: var(--light-turq);
  text-decoration: none;
  border-bottom: var(--light-turq) solid var(--micro-pad);
}

/* central section margins
main {
  margin-right: 5%;
  margin-left: 5%;
} */

/*about me paragraphs*/
.bio p {
  padding: var(--small-pad);
}

/*section headings*/
.h3 {
  color: var(--dark-blue);
}

/*sample cards with sepia effect*/
.card {
  background-size: 100%;
  border: var(--micro-pad) solid var(--light-turq);
  filter: sepia(35%);
  position: relative;
}

/*remove sepia effect on hover*/
.card:hover {
  filter: none;
}

/*style titles inside cards*/
.h4 {
  background-color: var(--light-turq);
  padding: var(--mini-pad);
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: var(--micro-pad);
}

/* individual backgrounds for cards */
.surf {
  background-image: url("../images/surf.jpeg");
}

.LED {
  background-image: url("../images/red_dot.jpeg");
}

.calc {
  background-image: url("../images/calc.jpeg");
}

.pastel {
  background-color: lightslategrey;
}

.run {
  background-image: url("../images/run.jpeg");
}

/*contact info links*/

.info {
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  margin: var(--small-pad);
  padding-inline: var(--large-pad);
}

.info-item a {
  color: var(--dark-grey);
  text-decoration: none;
  border-bottom: var(--dark-blue) solid var(--micro-pad);
  padding-bottom: var(--mini-pad);
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 175px) {
  /*on mobile phones, set one column */
  body {
    flex-direction: column;
  }

  .h1 {
    text-align: center;
    font-size: 200%;
    flex: 100%;
  }

  .h2 {
    padding: var(--mini-pad);
    font-size: 150%;
    margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
  }

  .h3 {
    padding: var(--mini-pad);
    margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
    border-bottom: var(--dark-blue) solid 2px;
    font-size: 133%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }
  .nav {
    text-align: center;
    line-height: 200%;
    flex: auto;
  }
  .subheader {
    padding-top: var(--large-pad);
    justify-content: center;
  }

  .info {
    display: block;
  }

  .info-item {
    padding-block: 10px;
  }

  .samples {
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
      padding: var(--small-pad);
  }

  .card {
    height: 150px;
    margin:var(--mini-pad);
  }
}

@media screen and (min-width: 768px) {
  .h1 {
    text-align: center;
    font-size: 300%;
    flex: 100%;
  }

  .h2 {
    padding: var(--mini-pad);
    font-size: 200%;
    margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
  }
  .h3 {
    font-size: 200%;
  }

  .nav li {
    font-size: 125%;
    padding: var(--small-pad);
  }
  .nav {
    text-align: center;
    line-height: 200%;
    flex: auto;
  }
  .subheader {
    justify-content: right;
  }


  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-item {
    margin: var(--small-pad);
    padding-inline: 20px;
  }

  .samples {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap:var(--mini-pad);
  }
  .card:first-child {
    flex: 0 0 98%;
    height: 250px;
  }

  .card {
    flex: 0 0 48%;
    height: 125px;
  }
  
}
/* media query for larger screens */
@media screen and (min-width: 992px) {

    .about, .work, .contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

 .bio, .info { 
    width: 75%;
 }

  .samples {
    display: flex;
    flex-wrap: wrap;
    gap:var(--mini-pad);
    width: 75%;
  }
  .card:first-child {
    flex: 0 0 98%;
    height: 300px;
  }

  .card {
    flex: 0 0 48%;
    height: 150px;
  }

  .h1 {
    padding-left: var(--large-pad);
    font-size: 300%;
    flex: none;
    margin: var(--small-pad) var(--small-pad) var(--small-pad) 0;
  }

  .h2 {
    padding: var(--mini-pad);
    font-size: 200%;
    margin: var(--mini-pad) var(--large-pad) var(--mini-pad) 0;
  }

  .h3 {
    border-right: 3px solid var(--dark-blue);
    border-bottom: none;
    font-size: 200%;
    width: 20%;
    text-align: right;
  }

  .nav li {
    font-size: 100%;
    padding: var(--mini-pad);
    margin: var(--mini-pad);
  }

  .nav {
    text-align: right;
    flex: auto;
    padding-right: var(--large-pad);
    padding-top: 25px;
    margin: var(--mini-pad);
  }

  .subheader {
    justify-content: right;
  }
}
