/*thank you Erica for asking the question in OH*/
html {scroll-behavior: smooth;}

/*set color and font variables*/
:root {
--light-turq: #82c2c3;
--dark-grey: #363642;
--dark-blue: #094d9b;
--large-pad: 50px;
--small-pad: 10px;
--mini-pad: 5px;
--micro-pad: 2px;
font-family: Arial, Helvetica, sans-serif;
}

/*header behavior*/
header {
    display: flex;
    flex-wrap: wrap;
background-color: var(--dark-grey);
color: var(--light-turq);
}

/*top headings*/
.h1, .h2 {
    background-color: var(--light-turq);
    color: var(--dark-grey);
    padding: var(--mini-pad);
}

.subheader {
    display: flex;
    flex-wrap: wrap;
    padding: var(--small-pad);
    background-image: url("../images/blue_herring.jpeg");
    background-origin: border-box;
    background-color: transparent;
    background-size: 100%;
}    

/*navigation look*/
.nav  {
    padding-top: var(--small-pad);
    padding-bottom: var(--mini-pad);
    
}

.nav li{
    display: inline;
    
}

.nav a {
    padding-bottom: var(--micro-pad);
    color: var(--light-turq);
    text-decoration: none;
    border-bottom: var(--light-turq) solid var(--micro-pad);
}

/*main section*/ 
.content, .bio p {
    padding: var(--small-pad);
}

/*section headings*/
.h3 {
    background-color: white;
    color: var(--dark-blue);
    flex: none;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 175px) {
    /*on mobile phones, set one column, 100%*/


    body, main {
        display: block;
        width: 100%;
        
    }
    .h1 {
        text-align: center;
        font-size: 200%;
        flex: 100%;
    }

    .h2 {
        
        padding: var(--mini-pad);
        font-size: 150%;
        margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;;
    }

    .h3 {
        padding: var(--mini-pad);
        margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
        border-bottom: var(--dark-blue) solid 2px;
            font-size: 133%;
    
    }

    .nav li {
        font-size: 125%;
        padding: var(--small-pad);
        
    }
    .nav {
        text-align: center;
        line-height: 200%;
        flex: auto;
}
    .subheader {
        padding-top: var(--large-pad);
        justify-content: center;
        
    }
}

@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    
    .h1 {
        text-align: center;
        font-size: 300%;
        flex: 100%;
    }

    .h2 {
        
        padding: var(--mini-pad);
        font-size: 200%;
        margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
    }
    .h3 {
        font-size: 200%;
        }

    .nav li {
        font-size: 125%;
        padding: var(--small-pad);
        
    }
    .nav {
        text-align: center;
        line-height: 200%;
        flex: auto;
}
.subheader {
    justify-content: right;
    
}
}

  /* media query for larger screens */
  @media screen and (min-width: 992px) {

    .work {
        display: flex;
        flex-wrap: wrap;
        
    }
    .h1 {
        
        padding-left: var(--large-pad);
        font-size: 300%;
        flex:none;
        margin: var(--small-pad) var(--small-pad) var(--small-pad) 0;
    }

    .h2 {
        
        padding: var(--mini-pad);
        font-size: 200%;
        margin: var(--mini-pad) var(--mini-pad) var(--mini-pad) 0;
    }

    .h3 {
    border-right: 3px solid var(--dark-blue);
    border-bottom: none;
    flex: none;
    font-size: 200%;
    }

    .nav li {
        font-size: 100%;
        padding: var(--mini-pad);
        margin: var(--mini-pad);
        
    }

    .nav {
        text-align: right;
        flex: auto;
        padding-right: var(--large-pad);
        padding-top: 25px;
        margin: var(--mini-pad);
        
    }

    .subheader {
        justify-content: right;
        
    }

    .about {
        display: flex;
        flex: content;
    }
}
